/* ===================================
========= register page  */
.form-container {
 
  height: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    
  }
  
  .form-container form {
    background-image: url(https://img.freepik.com/free-vector/abstract-luxury-beautiful-decorative-yellow-background_1055-6454.jpg?t=st=1708889499~exp=1708893099~hmac=9d281988606a7870551a27e6e6baa3719b138f11449a13d9b2a77ca1cd87c651&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    border-radius: 1.5rem;
    box-shadow: rgba(90, 71, 231, 0.4) -5px 5px, rgba(151, 131, 213, 0.3) -10px 10px, rgba(76, 16, 186, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    padding: 20px;
    background-color: #fff;
  }
  
  .form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .form-container form input {
    height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
  }
  
  .form-container form button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: rgb(255, 255, 255);
    width: 250px;
  }
  
  .form-container form button:hover {
    border: 1px solid black;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }
 
  
  /* CSS */
  .btnloadmore {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btnloadmore:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-btnloadmore 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-btnloadmore {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .btnloadmore:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  

  
  .cardadmin {
    margin-left: 500px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 400px;
    height: 300px;
   background-image: url(https://img.freepik.com/free-vector/glowing-sun-rays-background-from-top-left-corner_1017-26178.jpg?t=st=1710151294~exp=1710154894~hmac=6f23113292f8677a114165a2d4d47ea724180ed6565b8795dd86524baed21380&w=1380);
   background-repeat: no-repeat;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
  }
  
  .cardadmin::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
   background-image: url(https://img.freepik.com/free-vector/blue-background-with-sunburst_1048-3337.jpg?t=st=1710150608~exp=1710154208~hmac=eb4bb18ae89495d606b200d4cd333376b170fe2c2eb8acd65d3d7ccfc29ac880&w=740);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .cardadmin:hover::before{
      transition-delay:0.2s ;
  
    transform: scale(40);
  }
  
  .cardadmin:hover{
      color: #ffffff;
  
  }
  
  .cardadmin p{
      padding: 10px 0;
  }
  .topteam{
    color: #48ff00;
    text-align: center;
  }